@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';


.color {
    background-color: #2790f3;
}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    width: 40rem;
}
body {
    background: #eee
}
.modal-lg-class .modal-dialog{
    width: 85%;
    max-width: 90%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }