@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';


.color {
    background-color: #2790f3;
}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    width: 40rem;
}
body {
    background: #eee
}
.modal-lg-class .modal-dialog{
    width: 85%;
    max-width: 90%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("https://c.tenor.com/0iK9a1WkT40AAAAM/loading-white.gif") 
                50% 50% no-repeat rgb(249,249,249);
  }