<div *ngIf="loader">
    <img src="https://c.tenor.com/OzAxe6-8KvkAAAAj/blue_spinner.gif" class="center" style="width:25%">
</div>

<div class="container-fluid">
    <div class="form-row mt-3">
        <div class="form-group col-lg-12 col-sm-12">
            <div class="row ">
                <div class="col-sm-1"></div>
                <div class="col-sm-8"><input type="text" class="form-control " id="company"
                        placeholder="Search by Company Code" (input)="onKeypressEvent($event)"></div>
                <div class="col-sm-2">
                    <button class="btn-btn-dark" (click)="addCompany()"> Add Company</button>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12 col-lg-12 justify-content-center">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <ag-grid-angular style=" width:79% ;height: 300px" class="ag-theme-alpine" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [rowData]="rowData" [pagination]=true [paginationPageSize]="20"
                        (cellMouseOver)="onMouseOver($event)" (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>