<div *ngIf="loader">
    <img src="https://c.tenor.com/0iK9a1WkT40AAAAM/loading-white.gif" class="center" style="width:50%">
</div>
<div class="container align-center">
     <span class="glyphicon glyphicon-arrow-left" routerLink="/company"></span>
    <div class="container  border border-5 border-dark m-2  py-3">
        <h2 class="text-center">{{company?.name}}</h2>
        <div class="row">
            <div class="col-sm-6  mt-2">
                <div class="row">
                    <div class="col-sm-6  font-weight-bold ">Company Code : </div>
                    <div class="col-sm-6 ">{{company?.code}}</div>
                </div>
            </div>
            <div class="col-sm-6 mt-2 ">
                <div class="row">
                    <div class="col-sm-6 font-weight-bold">CEO Name : </div>
                    <div class="col-sm-6">{{company?.ceo}}</div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="row">
                    <div class="col-sm-6 font-weight-bold">Turnover : </div>
                    <div class="col-sm-6">{{company?.turnover}}</div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="row">
                    <div class="col-sm-6 font-weight-bold">Website : </div>
                    <div class="col-sm-6">{{company?.website}}</div>
                </div>
            </div>

        </div>
        <div class="row mt-2 pl-3 table-responsive justify-content-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Stock Exchange </th>
                        <th>Stock Price</th>
                        <th>Last Updated Date</th>
                    </tr>
                </thead>
                <tbody *ngFor="let price of company?.stockPrice">
                    <tr>
                        <td>{{price?.stockExchange.name}}</td>
                        <td>{{price?.stockPrice}}</td>
                        <td>{{price?.priceUpdatedDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="row mt-3">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn-btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                    Add Stock Price
                </button>
                <button type="button" (click)="deleteCompany()" class="btn-btn-dark ml-3">Delete Company</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" [hidden]="isAdded">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Stock Price</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="stockPriceForm">
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-lg-12">

                                <label class="col-sm-4" for="stockExchangeCode">Stock Exchange <span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select type="text" class=" form-control" id="stockExchangeCode"
                                        formControlName="stockExchangeCode">
                                        <option value="null">---Select---</option>
                                        <option *ngFor="let ex of stockExchangeList" [value]="ex?.code">
                                            {{ex?.name}}
                                        </option>
                                    </select>
                                    <small
                                        *ngIf="(stockExchangeCode.invalid && (stockExchangeCode.touched || stockExchangeCode.dirty) )&& stockExchangeCode.errors.required"
                                        class="text-danger">Stock Exchange Code required.</small>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">

                                <label class="col-sm-4" for="stockPrice">Stock Price <span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="col-sm-10 form-control" id="stockPrice"
                                        formControlName="stockPrice" placeholder="Enter Stock Price">
                                    <small
                                        *ngIf="(stockPrice.invalid && (stockPrice.touched || stockPrice.dirty) )&& stockPrice.errors.required"
                                        class="text-danger">Stock Price is required.</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onAddStockPrice()"
                        [disabled]="!stockPriceForm.valid">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container align-center">
        <form [formGroup]="viewStockPriceForm">
            <div class="form-row mt-3">
                <div class="form-group col-sm-12 col-md-3 col-lg-3">

                    <input placeholder="From Date" class="form-control" id="startDate" formControlName="startDate"
                        type="text" onfocus="(this.type='date')">
                    <small
                        *ngIf="(startDate.invalid && (startDate.touched || startDate.dirty) )&& startDate.errors.required"
                        class="text-danger">From Date is required.</small>
                </div>
                <div class="form-group col-sm-12 col-md-3 col-lg-3">
                    <input placeholder="To Date" class="form-control" id="endDate" formControlName="endDate" type="text"
                        onfocus="(this.type='date')">
                    <small *ngIf="(endDate.invalid && (endDate.touched || endDate.dirty) )&& endDate.errors.required"
                        class="text-danger">To Date is required.</small>
                </div>
                <div class="form-group col-sm-12 col-md-3 col-lg-3">

                    <select formControlName="stockExchangeCde" id="stockExchangeCde" class="form-control">
                        <option value="null">Select stockExchange</option>
                        <option *ngFor="let price of company?.stockPrice">{{price?.stockExchange.code}}</option>
                    </select>
                    <small
                        *ngIf="(stockExchangeCde.invalid && (stockExchangeCde.touched || stockExchangeCde.dirty) )&& stockExchangeCde.errors.required"
                        class="text-danger">Please select StockExchangeCode</small>
                </div>
                <div class="form-group col-sm-12 col-md-3 col-lg-3">
                    <button type="button" class="btn-btn-dark mt-1" (click)="getStockPriceBasedOnDate()"
                        [disabled]="!viewStockPriceForm.valid">View Stock
                        Price</button>
                </div>
            </div>
        </form>

    </div>
    <div class="container-fluid align-center mt-4">

        <div class="form-group col-sm-12  col-lg-12" *ngIf="show||rowData.length>0">
            <div class="row">
                <div class="col-sm-9">
                    <ag-grid-angular style="width:100% ;height: 300px" class="ag-theme-alpine" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [rowData]="rowData" [pagination]=true [paginationPageSize]="20"
                        (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                </div>
                <div class="col-sm-3" *ngIf="rowData.length>0">
                    <div class=" font-weight-bold ">Min: {{stockPriceData?.min}} </div>
                    <div class=" font-weight-bold">Max: {{stockPriceData?.max}}</div>
                    <div class="font-weight-bold">Average: {{stockPriceData?.average}} </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-dark" routerLink="/company">Previous</button>
    </div>
</div>